if SHIELD_SPLINCH_LEFT

config ZMK_KEYBOARD_NAME
    default "splinch"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SPLINCH_LEFT

if SHIELD_SPLINCH_LEFT || SHIELD_SPLINCH_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SPLINCH_LEFT || SHIELD_SPLINCH_RIGHT
