config SHIELD_SPLINCH_LEFT
    def_bool $(shields_list_contains,splinch_left)

config SHIELD_SPLINCH_RIGHT
    def_bool $(shields_list_contains,splinch_right)

config SHIELD_SPLINCH_DONGLE
    def_bool $(shields_list_contains,splinch_dongle)